MYSQL_USERNAME=root
MYSQL_PASSWORD=change_me

JWT_SECRET=change_me

AUTH_DB_URL=jdbc:mysql://mysql:3306/auth_db
USER_DB_URL=jdbc:mysql://mysql:3306/user_db
GROUP_DB_URL=jdbc:mysql://mysql:3306/group_db
EXPENSE_DB_URL=jdbc:mysql://mysql:3306/expense_db

EUREKA_URL=http://eureka-server:8761/eureka
